# Automatizar browser
EDGE_DRIVER_PATH=

# Credenciales de Infisical para autenticación
INFISICAL_HOST=
INFISICAL_CLIENT_ID=
INFISICAL_PROJECT_ID=
INFISICAL_CLIENT_SECRET=

# Variables para Astra DB (opcional, también se pueden obtener de Infisical)
ASTRA_DB_COLLECTION=
ASTRA_DB_ID=
ASTRA_ORGANIZATION=
ASTRA_DB_API_ENDPOINT=
ASTRA_DB_APPLICATION_TOKEN=

# Variables para Watsonx AI (opcional, también se pueden obtener de Infisical)
WATSONX_APIKEY=
WATSONX_PROJECT_ID=